:root {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;

  --main-bg-color: #fff;
  --main-text-color: #060b35;
  --secondary-text-color: #616070;
  --neutral-grey-color: #f3f3f3;
  --blue-accent: #00acdc;
}

body,
p,
h3 {
  margin: 0;
  padding: 0;
}
